* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  background-size: cover;
}

                                    /* heading section*/
#header {
  position: relative;
}
  /* heading-1 ---logo and title*/
.logo {
  background-color: #11224d;
  color: #ebe7e7;
  display: flex;
  align-content: center;
  height: 160px;
}
.logo-1 img {
  margin-left: 150px;
  height: 160px;
}
.logo-2 h1 {
  margin-left: 20px;
  font-size: 33px;
  margin-top: 40px;
}
.logo-2 h2 {
  text-align: center;
  font-size: 30px;
}

/*heading-2 ----navigation links*/
.nav-links{
  display: flex;
  background:#2068a2fa;
  justify-content: space-between;
}

.nav-links img{
  height: 55px;
  padding: 10px 20px;
}
.nav-link1{
  background:#013a69fa;
  display:flex;
  justify-content: space-around;
}
.nav-link1 a{
  padding:20px 162.5px 10px;
  font-size: 19px;
  color: #fff;
}
.nav-link1 a:hover{
  background-color:#11224D;
  transition: .4s;
}
.nav-link1 a.active{
  border-bottom: 3px solid orange;
}

                                  /* main section */
#main {
  width: 100%;
  display: flex;
  position: relative;
}
.instractions{
  padding: 10px 10px 0px 20px;
  line-height: 1.6;
  text-align:justify;
  font-size: 16.5px;
  background-image: radial-gradient(cyan,#4aa3ecfa);
  width: 50%;
}
.instractions h3{
  font-size: 17px;
}
.picture{
  width: 50%;
  -webkit-transform: scaleX(-1);
  position:sticky;
  transform: scaleX(-1);
}
.picture img{
  height: 421px;
  z-index: 100;
}
                              /* footer section */
footer{
  background-color: #11224d;
  color: #fff;
  padding: 10px;
  text-align: center;
}
